@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans-thai), var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}
